
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">

        <div class="span4">
        <div class="cfj">
          <img class="img-circle img192" src="img/james.jpg" alt="James Moreira">
          <img class="img-circle topj" src="img/james.PNG" alt="James Moreira">
        </div>
          <h2>James Moreira</h2>
          <p>"Na Engenharia de Software, a criatividade
              não é limitada por leis físicas, e sim
              pela capacidade humana de entender e
              dominar a complexidade."</p>
              <p class="text-right"><strong>Wilson Filho</strong></p>
          <p><a class="btn" id="showmodaljames" href="#">Ver Pefil &raquo;</a></p>
          <!-- Modal -->
          <div id="modaljames" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modaljames" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3>Perfil de James Moreira</h3>
            </div>
            <div class="modal-body">
              <p>James pode ser encontrado nos seguintes perfis:</p>
              <p><a href="http://www.linkedin.com/in/jameslegal" target="_Blank">Perfil Linkedin</a></p>
              <p><a href="https://plus.google.com/u/0/102736303113291302317" target="_Blank">Perfil Google+</a></p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
            </div>
          </div>
          <!-- Fecha Modal -->
        </div><!-- /.span4 -->

        <div class="span4">
          <div class="cfj">
            <img class="img-circle img186" src="img/samuel.jpg" alt="Samuel Ferreira">
            <img class="img-circle tops" src="img/samuel.PNG" alt="Samuel Ferreira">
          </div>
          <h2>Samuel Ferreira</h2>
          <p>"Pensamentos tornam-se ações,ações tornam-se hábitos,hábitos tornam-se nosso caráter e o caráter torna-se nosso destino."
              Em outras palavras,nosso caráter é determinado por nossas ações.</p>
              <p class="text-right"><strong>James C. Hunter</strong></p>
          <p><a class="btn" id="showmodalsamuel" href="#">Ver Perfil &raquo;</a></p>
          <!-- Modal -->
          <div id="modalsamuel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalsamuel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3>Perfil de Samuel Ferreira</h3>
            </div>
            <div class="modal-body">
              <p>Samuel pode ser encontrado nos seguintes perfis:</p>
              <p><a href="http://www.linkedin.com/in/samuelfferreira" target="_Blank">Perfil Linkedin</a></p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
            </div>
          </div>
          <!-- Fecha Modal -->
        </div><!-- /.span4 -->

        <div class="span4">
          <div class="cfj">
            <img class="img-circle img192" src="img/wilker.jpg" alt="Wilker Lima">
            <img class="img-circle topw" src="img/wilker.PNG" alt="Wilker Lima">
          </div>
          <h2>Wilker Lima</h2>
          <p>"Penso noventa e nove vezes e nada descubro; deixo de pensar, mergulho em profundo silêncio - e eis que a verdade se me revela."</p><p class="text-right"><strong>Albert Einstein</strong></p>
          <p><a class="btn" id="showmodalwilker" href="#">Ver Perfil &raquo;</a></p>
        <!-- Modal -->
          <div id="modalwilker" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalwilker" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3>Perfil de Wilker Lima</h3>
            </div>
            <div class="modal-body">
              <p>Wilker pode ser encontrado nos seguintes perfis:</p>
              <p><a href="https://www.facebook.com/wilker.lima.336" target="_Blank">Perfil Facebook</a></p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
            </div>
          </div>
          <!-- Fecha Modal -->
        </div><!-- /.span4 -->
      </div><!-- /.row -->

      <div class="row">
        <div class="span2">
        </div><!-- /.span4 -->

        <div class="span4">
          <div class="cfj">
            <img class="img-circle img192" src="img/alan.jpg"  alt="Alan Menezes">
            <img class="img-circle topj" src="img/alan.PNG" alt="Alan Menezes">
          </div>
          <h2>Alan Menezes</h2>
          <p>"Frase de Impacto."</p>
          <p><a id="showmodalalan" class="btn" href="#">Ver Perfil &raquo;</a></p>
        </div><!-- /.span4 -->

        <div class="span4">
          <div class="cfj">
            <img class="img-circle img192 img192v" src="img/bosco.jpg"  alt="Bosco Sarges">
            <img class="img-circle topb img192 img192v" src="img/bosco2.jpg" alt="Bosco Sarges">
          </div>
          <h2>Bosco Sarges</h2>
          <p>"A mente que se abre a uma nova idéia jamais voltará ao seu tamanho original."</p><p class="text-right"><strong>Albert Einstein</strong></p>
          <p><a id="showmodalbosco" class="btn" href="#">Ver Perfil &raquo;</a></p>
        </div><!-- /.span4 -->

        <div class="span2">
        </div><!-- /.span4 -->
      </div><!-- /.row -->

<!-- Modal -->
          <div id="modalbosco" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalbosco" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3>Perfil de Bosco Sarges</h3>
            </div>
            <div class="modal-body">
              <p>Bosco pode ser encontrado nos seguintes perfis:</p>
              <p><a href="" target="_Blank">Perfil Facebook</a></p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
            </div>
          </div>
<!-- Fecha Modal -->

<!-- Modal -->
          <div id="modalalan" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalalan" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3>Perfil de Alan Menezes</h3>
            </div>
            <div class="modal-body">
              <p>Alan pode ser encontrado nos seguintes perfis:</p>
              <p><a href="" target="_Blank">Perfil Facebook</a></p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
            </div>
          </div>
<!-- Fecha Modal -->