
      <!-- FOOTER -->
      <footer>
        <p class="pull-right" id="backtop"><a href="#">Voltar ao Topo</a></p>
        <p>&copy; 2013 Imifarma S/A, Inc. &middot; <a href="#" id="privacidade">Privacidade</a> &middot; <a href="#" id="termos">Termos</a></p>
      </footer>

    </div><!-- /.container -->

<!-- Modal -->
          <div id="modalprivacidade" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalprivacidade" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3>Privacidade</h3>
            </div>
            <div class="modal-body">
              <p>Sendo Feito.</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
            </div>
          </div>
<!-- Fecha Modal -->


<!-- Modal -->
          <div id="modaltermos" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modaltermos" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3>Termos de Uso</h3>
            </div>
            <div class="modal-body">
              <p>Sendo Feito.</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
            </div>
          </div>
<!-- Fecha Modal -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/jquery-2.0.3.min.map"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/plugins/Adipoli-master/jquery.adipoli.min.js"></script>
    <script src="js/plugins/bootstrap-progressbar.min.js"></script>
    <script src="js/custom.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
  </body>
</html>
